mixin event_29
  div.event
    span.event__date 1973
    div.event__text.event__text_medium
      p После публикации книги
        span.event__text_sursive “Пробуждения”
        span Оливера Сакса Лурия и Сакс вступают в активную переписку и становятся не только коллегами, но и друзьями. Переписка заканчивается в 1977 году со смертью Лурия.
