mixin start-slide-2
    div.start-slide-2
        div.container.start-slide-2__container
            div.start-slide-2__text-block
                p.start-slide-2__text
                    span.start-slide-2__text_first-letter Т
                    span имирязев вдохновляется теорией эволюции Дарвина, Клиффорд – геометрией Лобачевского, Капица 13 лет работает в лаборатории Резерфорда в Кембридже. 
                    span.start-slide-2__text_cursive История науки – это история встреч. 
                    span Российские и британские ученые учились друг у друга, проводили совместные исследования, спорили и конкурировали. Некоторые встречи стали поворотными моментами в научной судьбе российских и британских ученых, а иногда – и в истории развития мировой науки.
                p.start-slide-2__text Не всегда это встречи в буквальном смысле – порой это прочитанная книга, услышанная лекция, заочное знакомство, научная переписка.<br/>Для совместного проекта 
                    span.start-slide-2__text_cursive Постнауки и Британского Совета 
                    span мы собрали 15 сюжетов о судьбоносных встречах российских и британских ученых за последние 150 лет.
                div.start-slide-2__share
                    span.start-slide-2__share-text Расскажите друзьям
                    div.start-slide-2__share-links
                        a.start-slide-2__share-links_vk(href="#")
                        a.start-slide-2__share-links_fb(href="#")
                        a.start-slide-2__share-links_ok(href="#")
                        a.start-slide-2__share-links_tw(href="#")