mixin event_5
	div.event
		span.event__date 1864
		h2.event__title Тимирязев публикует 3 статьи под общим названием «Книга Дарвина, ее критики и комментаторы»
		div.event__text
			p Климент Тимирязев был еще студентом, когда опубликовал в журнале 
				span.event__text_cursive «Отечественные записки» 
				span три статьи, озаглавленные 
				span.event__text_cursive «Книга Дарвина, ее критики и комментаторы». 
				span Первое отдельное издание этих статей вышло в 1865 году под названием 
				span.event__text_cursive «Краткий очерк теории Дарвина».