mixin fact_1
    div.fact.fact_1(style="background: url('/images/Lobachevskiy-Kliffod/fact-bg_1.png') left 220px no-repeat, url('/images/Lobachevskiy-Kliffod/fact-bg_2.png') right 200px no-repeat, #1b1a1a; background-size 16%, 21%, auto")
        div.container.fact__container
            h2.fact__h2 Интересный<br/>факт
            div.fact__wrap
                div.fact__block
                    span.fact__date 1886—1917
                    h2.fact__title Петр Кропоткин живет в Лондоне
                    div.fact__text
                        p После освобождения из-под ареста во Франции Кропоткин с семьей переезжает в Англию. В Лондоне он продолжает сотрудничать с Британской энциклопедией и Энциклопедией Чемберса, в которых публикует свои статьи по истории и географии России. Несмотря на то, что на протяжении всего своего пребывания в Англии Кропоткин ведет политическую и пропагандистскую деятельность, он не забывает о науке. Именно в Лондоне он пишет свои важнейшие труды вроде&nbsp;
                            span.fact__text_cursive «Хлеб и Воля» (1892)
                            span ,&nbsp;
                            span.fact__text_cursive «Записки революционера» (1902)&nbsp;
                            span и&nbsp;
                            span.fact__text_cursive «Взаимная помощь как фактор эволюции» (1902).
