mixin event_31
  div.event
    span.event__date 2003
    div.event__text
      p Совместную Нобелевскую премию по физике&nbsp;
        span.event__text_cursive “за пионерский вклад в теорию сверхпроводников и сверхтекучих жидкостей”&nbsp;
        span получают Алексей Абрикосова, Виталий Гинзбурга и Энтони Леггетта.
