mixin fake
	div.fake
		div.fake__header
			a.fake__nav-link(href="#")
				span.fake__nav-link_text Дарвин —<br/>Тимирязев
				span.fake__nav-link_circle
		div.container.fake__container
			h1.fake__title Дарвин —<br/>Тимирязев
			div.fake__events
				div.fake__event
					h2.fake__event-title
						span.fake__event-title_date 1859 
						span Выходит «Происхождение видов» Чарльза Дарвина
					div.fake__event-img
						img(src="/images/Darvin-Timiryazev/the_origin_of_species.png")
					p.fake__text 24 ноября 1859 года в лондонском издательстве Джона Мюррея выходит тиражом 1250 экземпляров книга Чарльза Дарвина 
						span.fake__text_cursive «Происхождение видов путем естественного отбора, или Сохранение благоприятных рас в борьбе за жизнь». 
						span Весь тираж был раскуплен в первый же день.
				div.fake__video
					span.fake__video-category Видеолекция
					h2.fake__video-title Идеи Дарвина и дарвинизм 
						span.fake__video-title_author Архат Абжанов
					div.fake__video-iframe
						div.fake__video-iframe-logos
							img.fake__video-iframe-logos_postnauka(src="/images/postnauka.png")
							img.fake__video-iframe-logos_bc(src="/images/british-council.png")
						p.fake__video-iframe-title Идеи Дарвина<br/>и дарвинизм
						p.fake__video-iframe-author Архат Абжанов
					div.fake__video-bottom
						a.fake__video-bottom-share(href="#") Отправьте видео другу
						a.fake__video-bottom-text(href="#") Текстовая расшифровка
		div.fake__gallery
			div.fake__gallery-wrap
				img(src="/images/Darvin-Timiryazev/slides/1.png")
				img(src="/images/Darvin-Timiryazev/slides/2.png")
				img(src="/images/Darvin-Timiryazev/slides/3.png")
				img(src="/images/Darvin-Timiryazev/slides/4.png")
				img(src="/images/Darvin-Timiryazev/slides/5.png")
				img(src="/images/Darvin-Timiryazev/slides/6.png")
			div.container.fake__container
				span.fake__gallery-category 12 фотографий
				p.fake__gallery-title Встреча и переписка Капицы и Резерфорда
				p.fake__gallery-description Описание, если надо — пожалуйста. С переводом, блэкджеком и прочими полезными вещами.
				a.fake__gallery-link Смотреть
		div.container.fake__container
			div.fake__events
				div.fake__event
					h2.fake__event-title
						span.fake__event-title_date 1864
						span Тимирязев публикует 3 статьи под общим названием «Книга Дарвина, ее критики и комментаторы»
					p.fake__text Климент Тимирязев был еще студентом, когда опубликовал в журнале 
						span.fake__text_cursive «Отечественные записки» 
						span три статьи, озаглавленные 
						span.fake__text_cursive «Книга Дарвина, ее критики и комментаторы». 
						span Первое отдельное издание этих статей вышло в 1865 году под названием 
						span.fake__text_cursive «Краткий очерк теории Дарвина».
				div.fake__memory
					p.fake__memory-author
						span.fake__memory-author-img
						span.fake__memory-author-name Климент Тимирязев
					p.fake__memory-text Когда попадаешь в Даун (где жил и работал Дарвин), когда переступаешь порог этого небольшого кабинета, в котором ежедневно вот уже полвека работает этот могучий ум, когда подумаешь, что через минуту очутишься в присутствии человека, которого потомство поставит наряду с Аристотелями и Ньютонами, невольно ощущаешь понятную робость, но это чувство исчезает без следа при первом появлении, при первых звуках голоса Чарлза Дарвина
				div.fake__video
					span.fake__video-category Видеолекция
					h2.fake__video-title Идеи Чарльза Дарвина в России 
						span.fake__video-title_author Саймон Уэрретт
					div.fake__video-iframe
						div.fake__video-iframe-logos
							img.fake__video-iframe-logos_postnauka(src="/images/postnauka.png")
							img.fake__video-iframe-logos_bc(src="/images/british-council.png")
						p.fake__video-iframe-title Идеи Чарльза <br/>Дарвина в России
						p.fake__video-iframe-author Саймон Уэрретт
					div.fake__video-bottom
						a.fake__video-bottom-share(href="#") Отправьте видео другу
						a.fake__video-bottom-text(href="#") Текстовая расшифровка