mixin event_36
  div.event
    span.event__date 2015
    div.event__text
      p В рамках грантовой программы Европейского Союза лаборатория Эксетерского университета в Англии и и лаборатория института микробиологии РАН в России ведут совместные исследования термофильных микроорганизмов.
      p Микробиолог Елизавета Бонч-Осмоловская, возглавляющая исследования российской стороны, рассказывает о совместной работе с лабораторией Эксетерского университета.
