mixin event_12
	div.event
		span.event__date 1901
		div.event__text.event__text_medium
			p Из-за разногласий с министром народного просвещения по поводу студенческих волнений Виноградов покидает Московский университет и уезжает из России — сначала во Францию, потом (весной 1902 года) в Великобританию.