mixin event_12
	div.event
		span.event__date 1903
		div.event__text.event__text_big
			p Виноградов становится профессором кафедры сравнительного правоведения колледжа Тела Христова
				span.event__text_cursive (Corpus Christi)
				span Оксфордского университета.
