mixin fact_5
    div.fact.fact_5(style="background: #1b1a1a;")
        div.container.fact__container
            h2.fact__h2 Интересный<br/>факт
            div.fact__wrap
                div.fact__block
                    span.fact__date 1956
                    div.fact__text
                        p Правительственная делегация СССР, в составе которой находится Игорь Васильевич Курчатов, прибывает в Великобританию. Здесь Курчатов знакомится с Джоном Кокрофтом, посещает Лондон и Кембриджский университет.
                        p В апреле 1956 года Кокрофт приглашает Курчатова в атомный центр Харуэлл прочитать лекцию о своих исследованиях в области ядерной физики и развитии атомной энергии в России. Курчатов рассказывает о том, как можно взять под контроль атомную энергию и использовать ее в мирных целях. Позже об этом выступлении писали научный отдел газеты&nbsp;
                            span.fact__text_cursive Daily Express&nbsp;
                            span и агентство&nbsp;
                            span.fact__text_cursive Reuters.
                    div.fact-quote
                      div.fact-quote__text
                        p Научный редактор Daily Express Чэпмен Пинчер прокомментировал выступление Курчатова, сказав: «...во-первых, русские закончили эксперименты, которые в Харуэлле находятся только в стадии планирования; во-вторых, он привел все подробности используемых методов, иллюстрируя это цифрами и формулами, которые считались бы совершенно секретными в Англии или Соединенных Штатах». Доктор Курчатов говорил о таких фактах, касающихся атомов, которые ученые никогда не предвидели. Он отвечал на все вопросы очень подробно, не пытаясь уклоняться от ответа. Ясно, что ему было предоставлено полное право говорить все что угодно о работе русских в этой области, поскольку, как он сказал, она преследует чисто мирные цели. Ученые Харуэлла устроили ему овацию
                      p.fact-quote__cite Петр Асташенков «Курчатов», 1968
