mixin quote_1
	div.quote
		h2.quote__author
			img.quote__author_img(src="/images/Darvin-Timiryazev/quote.png")
			span.quote__author_text Климент Тимирязев
		div.quote__text.quote__text_big
			p Вторая родина дарвинизма, Россия
