mixin quote_3
	div.quote
		h2.quote__author
			img.quote__author_img(src="/images/Darvin-Timiryazev/quote.png")
			span.quote__author_text Климент Тимирязев
		div.quote__text
			p Он был не кабинетный ученый, а человек, видавший природу лицом к лицу. Зоолог, геолог, ботаник, совмещающий в себе почти все современные биологические данные, он изучал эту природу и в девственных лесах Бразилии, и в соседнем огороде, и в водах Великого океана, и у себя на голубятне... Весь этот громадный материал — результат целой жизни — был подчинен одной идее. Едва ли в истории наук можно найти второй пример деятельности, представляющей столько разнообразия в частностях при таком единстве общего замысла