mixin fact_7
  div.fact.fact_7(style="background: #1b1a1a;")
    a.fact__nav-link(href="#")
      span.fact__nav-link_circle
    div.container.fact__container
      h2.fact__h2 Интересный<br/>факт
      div.fact__wrap
        div.fact__block
          span.fact__date 1956
          div.fact__text
            p
              span.fact__text_cursive “За исследование механизма химических реакций” &nbsp;
              span совместную Нобелевскую премию по химии получили Николай Семенов и Сирил Хиншелвуд, которые параллельно работали над исследованием разветвленных цепей химических реакций.
          div.fact-video
            span.fact-video__category Видеолекция
            h2.fact-video__title Цепные реакции и Нобелевская премия по химии Семенова и Хиншелвуда&nbsp;
              span.fact-video__title_author Дэвид Филлипс
            div.fact-video__iframe
              iframe(src="https://www.youtube.com/embed/CGP3HcRjzx0", frameborder="0", allow="autoplay; encrypted-media" allowfullscreen)
            div.fact-video__bottom
              a.fact-video__bottom-share(href="#") Отправьте видео другу
              a.fact-video__bottom-text(href="#") Текстовая расшифровка
