mixin quote_5
  div.quote
    div.quote__text
      p Мы счастливы, что у нас директором лаборатории работает профессор Капица, так блестяще сочетающий в своём лице и физика, и инженера. Мы убеждены, что под его умелым руководством новая лаборатория внесёт свой вклад в познание процессов природы
    p.quote__cite Из речи Стэнли Болдуина, премьер-министра Великобритании, по случаю открытию Мондовской лаборатории Петра Капицы
