mixin event_21
  div.event
    span.event__date 1921
    div.event__text
      p Петр Капица работает в Кавендишской лаборатории в Кембридже под руководством Эрнеста Резерфорда. В Англии Капица проводит исследования сверхсильных магнитных полей, благодаря которым получает широкую известность и признание.
      p Первое время отношения между Капицей и Резерфордом складываются достаточно напряженно (поначалу Резерфорд отказывается принимать Капицу на работу и обвиняет его в коммунистической пропаганде), но постепенно ученые сближаются и становятся хорошими друзьями. За проницательность и неумение отступать назад Капица дал Резерфорду знаменитое прозвище “Крокодил”.
