mixin event_6
	div.event
		span.event__date 1877
		h2.event__title Встреча Тимирязева и Дарвина
		div.event__text
			p Во время поездки в Англию Тимирязев посещает Дарвина в его имении Даун. Дарвин, который в этот период крайне редко выезжал из Дауна и избегал общения с новыми людьми, Тимирязева принял и долго беседовал с ним. Он подарил русскому ученому свой портрет с автографом. Тимирязев впоследствии написал об этом посещении воспоминания 
				span.event__text_cursive «У Дарвина в Дауне».