mixin event_7
	div.event
		span.event__date 1896
		h2.event__title «Происхождение видов» выходит в переводе Тимирязева
		div.event__text
			p Тимирязев перевел 
				span.event__text_cursive «Происхождение видов» 
				span при участии М. А. Мензбира, А. П. Павлова и А. И. Петровского. Этот перевод и сейчас считается лучшим из существующих русских переводов книги Дарвина. Кроме того, Тимирязев первый перевел на русский язык все сочинения Дарвина 
				span.event__text_cursive (издания Половой, 1896–1901 гг. и Ланковского, 1907–1909 гг.).  