mixin menu
    div.menu
        div.menu__header
            div.menu__logos
                img.menu__logos_postnauka(src="/images/postnauka.png")
                img.menu__logos_bc(src="/images/british-council.png")
            a.menu__nav-link(href="#")
                span.menu__nav-link_circle
        div.row.menu__row
            div.menu__left
                p.menu__description 150 лет российской науки в Великобритании и британской науки в России 
                    span.menu__description_cursive Проект об отношениях российской и британской науки через встречи ученых
                div.menu__partner
                    a.menu__partner_postnauka(href="#") Перейти на postnauka.ru
                    a.menu__partner_bc(href="#") Перейти на britishcouncil.ru
            div.menu__right
                h2.menu__title Все встречи
                ol.menu__list
                    li.menu__li.menu__li_active
                        a.menu__link(href="#") Дарвин и Тимирязев
                        div.menu__meanwhile
                            span.menu__meanwhile_text Тем временем
                            a.menu__meanwhile_link(href="#") Менделеев
                    li.menu__li
                        a.menu__link(href="#") Лобачевский и Клиффорд
                        div.menu__meanwhile
                            span.menu__meanwhile_text Тем временем
                            a.menu__meanwhile_link(href="#") Кропоткин
                    li.menu__li
                        a.menu__link(href="#") Виноградов и Мейтленд
                    li.menu__li
                        a.menu__link(href="#") Вавилов и Бэтсон
                    li.menu__li
                        a.menu__link(href="#") Курчатов и Кокрофт
                    li.menu__li
                        a.menu__link(href="#") Капица и Резерфорд
                        div.menu__meanwhile
                            span.menu__meanwhile_text Тем временем
                            a.menu__meanwhile_link(href="#") Российско-британское сотрудничество в Антарктиде
                    li.menu__li
                        a.menu__link(href="#") Лурия и Сакс
        div.menu__share
            span.menu__share-text Расскажите друзьям
            div.menu__share-links
                a.menu__share-links_vk(href="#")
                a.menu__share-links_fb(href="#")
                a.menu__share-links_ok(href="#")
                a.menu__share-links_tw(href="#")