.menu
  position fixed
  top 0
  left 0
  width 100%
  z-index 100
  height 100vh
  min-height 900px
  background url("/images/menu_bg.png") center center no-repeat
  background-size cover
  color #fff
  font-family "Cisco Sans"
  trnasition .3s ease-in-out all
  &.hide
    display none
    height 0
    opacity 0
  &.show
    height 100vh
    opacity 1
  &__header
    display flex
    justify-content space-between
    align-items center
    padding 36px 36px 0
  &__logos
    position relative
    display flex
    align-items center
    &::before
      content ""
      position absolute
      left 62px
      top 0
      width 1px
      height 40px
      background rgba(255,255,255,.5)
    &_postnauka
      display inline-block
      margin-right 43px
      height 40px
    &_bc
      position relative
      top 1px
      height 32px
  &__nav-link
    &_circle
      display block
      position relative
      width 40px
      height 40px
      border-radius 50%
      background #fff
      transition .5s ease-in-out all
      &:hover
        opacity .7
      &::before,
      &::after
        display inline-block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        content ""
        background #000
      &::before
        width 19px
        height 1px
        transform translate(-50%, -50%) rotate(-45deg)
      &::after
        width 1px
        height 19px
        transform translate(-50%, -50%) rotate(-45deg)
  &__row
    margin-top 70px
    padding-left 36px
  &__left
    margin-top -41px
    width 370px
    margin-right 161px
  &__description
    margin-bottom 62px
    font-size 1.25rem
    line-height 1.5
    color rgba(255,255,255,.6)
    &_cursive
      font-family "SangBleu Sunrise"
      font-style italic
  &__partner
    font-family "Cisco Sans"
    & > a
      display inline-block
      position relative
      font-size 1rem
      line-height 1.5
      color rgba(255,255,255,.6)
      transition .5s ease-in-out all
      &:hover
        color #fff
      &:first-child
        margin-bottom 8px
      &::after
        content ""
        width 14px
        height 14px
        display inline-block
        top 1px
        margin-left 9px
        position relative
        background url("/images/main-sprite.png") -92px -10px no-repeat
        transform rotate(136deg)
  &__right
    margin-top -32px
  &__li
    position relative
    color #fff
    font-family "Helios"
    font-weight 900
    font-size 1.5rem
    line-height 1.25
    transition .5s ease-in-out all
    &_active
      color #E34F2D
    &:hover
      color #E34F2D
  &__link
    margin-bottom 32px
    display inline-block
    &-date
      position absolute
      display inline-block
      left -24px
      top 0
      transform translate(-100%)
      color rgba(255,255,255,.5)
  &__category
    display block
    margin-bottom -3px
    color #E34F2D
    font-size .7rem
    line-height 1.75
    font-weight 900
    font-family "Cisco Sans"
    letter-spacing 3px
    text-transform uppercase
  &__share
    position absolute
    left 36px
    bottom 55px
    &-text
      display block
      margin-bottom 11px
      font-size 1.25rem
      color rgba(255,255,255,.6)
    &-links
      display flex
      width 164px
      justify-content space-between
      align-items center
      > a
        width 32px
        height 32px
        border-radius 9px
        position relative
        display block
        transition .5s ease-in-out all
        &::after
          display inline-block
          content ""
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          background-image url("/images/main-sprite.png")
          background-repeat no-repeat
      &_vk
        background #517398
        &:hover
          background alpha(#517398, .7)
        &::after
          width 22px
          height 14px
          background-position -50px -10px
      &_fb
        background #4469B0
        &:hover
          background alpha(#4469B0, .7)
        &::after
          width 14px
          height 24px
          background-position -10px -48px
      &_ok
        background #EC8225
        &:hover
          background alpha(#EC8225, .7)
        &::after
          width 14px
          height 20px
          background-position -50px -44px
      &_tw
        background #2AA3EF
        &:hover
          background alpha(#2AA3EF, .7)
        &::after
          width 20px
          height 18px
          background-position -10px -10px
