mixin menu
    div.menu
        div.menu__header
            div.menu__logos
                img.menu__logos_postnauka(src="/images/postnauka.png")
                img.menu__logos_bc(src="/images/british-council.png")
            a.menu__nav-link(href="#")
                span.menu__nav-link_circle
        div.row.menu__row
            div.menu__left
                p.menu__description 150 лет российской науки в Великобритании и британской науки в России 
                    span.menu__description_cursive Проект об отношениях российской и британской науки через встречи ученых
                div.menu__partner
                    a.menu__partner_postnauka(href="#") postnauka.ru
                    <br/>
                    a.menu__partner_bc(href="#") britishcouncil.ru
            div.menu__right
                ol.menu__list
                    li.menu__li.menu__li_active
                        a.menu__link(href="#")
                            span.menu__link-date 1829
                            span.menu__link-text Лобачевский и Клиффорд
                    li.menu__li
                        a.menu__link(href="#")
                            span.menu__link-date 1859
                            span.menu__link-text Дарвин и Тимирязев
                    li.menu__li
                        a.menu__link(href="#")
                            span.menu__link-date 1884
                            span.menu__link-text Виноградов и Мейтленд
                    li.menu__li
                        a.menu__link(href="#")
                            span.menu__link-date 1913
                            span.menu__link-text Вавилов и Бэтсон
                    li.menu__li
                        a.menu__link(href="#")
                            span.menu__link-date 1921
                            span.menu__link-text Капица и Резерфорд
                    li.menu__li
                        a.menu__link(href="#")
                            span.menu__link-date 1963
                            span.menu__link-text Лурия и Сакс
                    li.menu__li
                        span.menu__category Наше время<br/>
                        a.menu__link(href="#")
                            span.menu__link-text Сотрудничество в XXI веке
                    li.menu__li
                        span.menu__category Тест<br/>
                        a.menu__link(href="#")
                            span.menu__link-text А потом позвонил Крокодил:<br/>угадайте ученого<br/>по описанию коллеги
        div.menu__share
            span.menu__share-text Расскажите друзьям
            div.menu__share-links
                a.menu__share-links_vk(href="#")
                a.menu__share-links_fb(href="#")
                a.menu__share-links_ok(href="#")
                a.menu__share-links_tw(href="#")