mixin video_9
  div.video
    span.video__category Видеолекция
    h2.video__title Сверхпроводники II рода и Нобелевская премия по физике Абрикосова, Гинзбурга и Леггетта&nbsp;
      span.video__title_author Маржена Шиманска
    div.video__iframe(style="background-image: url('/images/Vavilov-Batson/video_1.png')")
      div.video__iframe-logos
        img.video__iframe-logos_postnauka(src="/images/Vavilov-Batson/video-logo_1.png")
        img.video__iframe-logos_bc(src="/images/bc-logo-white.png")
      div.video__iframe-text
        p.video__iframe-title Сверхпроводники II рода и<br/> Нобелевская премия по физике<br/>Абрикосова, Гинзбурга и Леггетта
        p.video__iframe-author Маржена Шиманска
      a.video__iframe-btn(href="#")
    div.video__bottom
      a.video__bottom-share(href="#") Отправьте видео другу
      a.video__bottom-text(href="#") Текстовая расшифровка
