mixin quote_2
	div.quote
		h2.quote__author
			img.quote__author_img(src="/images/Darvin-Timiryazev/quote.png")
			span.quote__author_text Климент Тимирязев
		div.quote__text
			p Когда попадаешь в Даун (где жил и работал Дарвин), когда переступаешь порог этого небольшого кабинета, в котором ежедневно вот уже полвека работает этот могучий ум, когда подумаешь, что через минуту очутишься в присутствии человека, которого потомство поставит наряду с Аристотелями и Ньютонами, невольно ощущаешь понятную робость, но это чувство исчезает без следа при первом появлении, при первых звуках голоса Чарлза Дарвина