mixin event_33
  div.event
    span.event__date 2010
    div.event__text
      p За&nbsp;
        span.event__text_cursive «передовые опыты с двумерным материалом — графеном» &nbsp;
        span Константин Новоселов и Андрей Гейм получают Нобелевскую премию по физике, будучи сотрудниками Манчестерского университета.
