mixin event_24
  div.event
    span.event__date 1933
    div.event__text
      p На открытии лаборатории Капица избирается Мессельским профессором Королевского общества. На входе в лабораторию Капица просит скульптора Эрика Гилла вырезать барельеф крокодила в честь Резерфорда.
