mixin event_8
	div.event
		span.event__date 1903
		h2.event__title Тимирязев читает в Лондонском королевском обществе крунианскую лекцию «Космическая роль зеленых растений»
		div.event__text
			p Британское научное сообщество уважало Тимирязева, он был избран членом Лондонского королевского общества и почетным доктором нескольких британских университетов. В 1903 году Тимирязева пригласили в Лондон прочитать крунианскую лекцию 
			span.event__text_cursive (Croonian lecture) 
			span — честь, которой очень редко удостаиваются иностранные ученые. Лекция была прочитала 30 апреля 1903 года, в том же году ее текст — 
			span.event__text_cursive The Cosmical Function of the Green Plants  — 
			span был опубликован в журнале 
			span.event__text_cursive Proceedings of the Royal Society (Vol. 72, 1903).