mixin event_23
  div.event
    span.event__date 1929
    div.event__text
      p Капица становится членом Лондонского королевского общества и получает финансирование на строительство собственной лаборатории в Кембридже.
