mixin quote_4
	div.quote
		h2.quote__author
			img.quote__author_img(src="/images/Vinogradov-Meytlend/quote.png")
			span.quote__author_text Павел Виноградов
		div.quote__text
			p Если мне позволительно будет начать с личного замечания, то я сказал бы, что впервые был привлечен к изучению английского права теми особенностями английской жизни, которые всегда вызывают сильный интерес у иностранных наблюдателей, а именно: господство права (the rule of law) и отважный дух свободы (the manly spirit of freedom)
		p.quote__cite Цитата из инаугурационной лекции Павла Виноградова в Оксфордском университете 1 марта 1904 года