.quote
  position relative
  margin -39px auto 63px
  width 770px
  padding 24px 30px 28px
  background #F2F2F2
  border-radius 4px
  box-shadow 0 2px 3px rgba(0,0,0,0.1)
  font-family "Cisco Sans", sans-serif
  @media only screen and (max-width 1023px)
    width 600px
  @media only screen and (max-width 767px)
    width 100%
    margin-top 70px
    padding 24px 20px 28px
  @media only screen and (max-width: 480px)
    margin-top -42px
    width calc(100% + 32px)
    margin-left -16px
    padding 24px 16px 30px
  &::before
    position absolute
    left -91px
    top -5px
    content ""
    width 32px
    height 34px
    border 10px solid #D6D2CD
    border-top-width 3px
    background url("/images/quote.png") center center no-repeat, #D6D2CD
    @media only screen and (max-width 1199px)
      left -7vw
    @media only screen and (max-width 767px)
      left 10px
      position absolute
      display inline-block
      border-top-width 10px
      top -50px
      border-bottom-width 3px
    @media only screen and (max-width: 480px)
      display none
  &__author
    margin-bottom 20px
    height 40px
    line-height 40px
    font-size 1rem
    font-weight normal
    color rgba(0,0,0,.6)
    @media only screen and (max-width: 480px)
      margin-bottom 12px
    &_img
      display inline-block
      margin-right 12px
      width 40px
      border-radius 50%
    &_text
      position relative
      top -16px
  &__text
    margin-bottom 9px
    font-size 1.25rem
    line-height 1.6
    @media only screen and (max-width 767px)
      font-size 1rem
    @media only screen and (max-width: 480px)
      line-height 1.33
    &_big
      margin-top -13px
      margin-bottom 6px
      font-size 1.5rem
      line-height 1.5
      font-family "Helios"
      @media only screen and (max-width 767px)
        font-size 1.25rem
      @media only screen and (max-width: 480px)
        font-size 1.5rem
      @media only screen and (max-width: 480px)
        line-height 1.33
        margin-top 0
  &__cite
    color rgba(0,0,0,.6)
    font-size 1rem
    line-height 1.5
    font-family "Helios"
    @media only screen and (max-width 767px)
      font-size .9rem
