mixin event_16
  div.event
    span.event__date 1913
    div.event__text
      p Вавилов завершает свое обучение за границей в городе Мертон, Англия, где он стажируется в генетической лаборатории Института садоводства имени Джона Иннеса под руководством профессора Уильяма Бэтсона. Вавилов называл его&nbsp;
        span.event__text_cursive «первым апостолом нового учения»,&nbsp;
        span так как именно Уильям Бэтсон предложил термин&nbsp;
        span.event__text_cursive «генетика».&nbsp;
        span В лаборатории Бэтсона Вавилов занимается изучением иммунитета хлебных злаков и одновременно знакомится с трудами Дарвина, Ламарка, Гексли и Линнея. Кроме того, он работает в лаборатории генетики Кембриджского университета, которой руководит профессор Реджинальд Паннет.
      p Очень скоро отношения Бэтсона и Вавилова переросли в дружбу — они не только работали вместе, но совместно проводили праздничные дни и досуг, бывали друг у друга дома и общались семьями.
