.event
	position relative
	margin 0 auto 64px
	width 770px
	&__date
		position absolute
		top 0
		left -124px
		font-size 1.5rem
		line-height 1.5
		font-family "Helios"
		font-weight 900
		color rgba(0,0,0,.5)
		background #D6D2CD
		padding-bottom 20px
	&__title
		margin-bottom 16px
		font-weight normal
		font-size 1.5rem
		line-height 1.5
		font-family "Helios"
	&__text
		font-size 1.125rem
		line-height 1.5
		p
			margin-bottom 12px