mixin event_28
  div.event
    span.event__date 1963
    div.event__text
      p Александр Лурия дважды посещает Великобританию для участии в симпозиуме по нарушениям речи, осматривает британские нейропсихологические центры и Кембриджский университет. В Англии он знакомится с нейропсихологом Оливером Зангвиллом, который неоднократно признавал значимость влияния Лурия на британскую нейропсихологию.
