mixin event_18
	div.event
		span.event__date 1923
		div.event__text.event__text_medium
			p Бэтсон становится иностранным членом Академии наук СССР, после чего заявляет о готовности принимать в своей лаборатории молодых научных сотрудников из Советского Союза и предоставлять им стипендию на время стажировки.