mixin article_1
	div.article
		span.article__category Статья
		h2.article__title Теория центров происхождения культурных растений Николая Вавилова &nbsp;
			span.article__title_author Игорь Лоскутов
		p.article__description Генетик рассказывает об экспедициях Вавилова и значимости его открытий для современной науки.
		a.article__read(href="#")
			span.article__read-text Читать
			span.article__read-time ~8 мин
