mixin quote_8
  div.quote
    div.quote__text
      p Речь, конечно, идет об Александре Романовиче Лурия, выдающемся российском ученом, основоположнике нейропсихологии. Несмотря на то, что нам так и не довелось встретиться лично, я состоял с ним в долгой переписке, начавшейся в 1973 году и продолжавшейся четыре года, вплоть до его смерти в 1977-м. Большие систематические труды Лурия - «Высшие корковые функции человека», «Мозг человека и психические процессы» и другие - были моими настольными книгами в студенческие годы, но подлинным откровением явилась для меня его работа «Маленькая книжка о большой памяти (Ум мнемониста)», опубликованная по-английски в 1968 году
    p.quote__cite Оливер Сакс. Предисловие к русскому изданию книги «Человек, который принял свою жену за шляпу»
