mixin fact_4
    div.fact.fact_4(style="background: #1b1a1a;")
        div.container.fact__container
            h2.fact__h2 Интересный<br/>факт
            div.fact__wrap
                div.fact__block
                    span.fact__date 1945
                    div.fact__text
                        p Покинувший Советскую Россию в 20-х годах Исайя Берлин поступает в Оксфордский университет, учится по специальности политическая экономия и философия, быстро адаптируется к английскому образу жизни. В 1930-х годах, опираясь на свои знания русского языка, начинает масштабное исследование работ Маркса, которые наиболее распространены в русском переводе. А в 1945 году приезжает в СССР, где знакомится с Пастернаком, Ахматовой, Эйзенштейном и Чуковским.
                    div.fact-video
                        span.fact-video__category Видеолекция
                        h2.fact-video__title Исайя Берлин в России&nbsp;
                            span.fact-video__title_author Алексей Глухов
                        div.fact-video__iframe
                            iframe(src="https://www.youtube.com/embed/CGP3HcRjzx0", frameborder="0", allow="autoplay; encrypted-media" allowfullscreen)
                        div.fact-video__bottom
                            a.fact-video__bottom-share(href="#") Отправьте видео другу
                            a.fact-video__bottom-text(href="#") Текстовая расшифровка
