mixin event_32
  div.event
    span.event__date 2004
    div.event__text
      p Под руководством Андрея Гейма Константин Новосёлов в составе команды Манчестерского  национального института графена изобретает технологию получения графена и открывают новую аллотропную модификацию углерода.
