mixin main
    div.main
        div.main__header
            div.main__logos
                img.main__logos_postnauka(src="/images/postnauka.png")
                img.main__logos_bc(src="/images/british-council.png")
            a.main__nav-link(href="#")
                span.main__nav-link_text Все встречи
                span.main__nav-link_circle
        div.container.main__container
            div.main__text-block
                h1.main__title Капица — Резерфорд
                p.main__description 150 лет российской науки в Великобритании и британской науки в России 
                    span.main__description_cursive Проект об отношениях российской и британской науки через встречи ученых
                a.main__read-more(href="#") Читать