mixin event_15
  div.event
    span.event__date 1985
    div.event__text
      p Перед своей смертью Лурия просит Сакса написать работу, которая находилась бы на пересечении литературы и науки, но при этом описывала работу человеческого мозга в реальном мире. В 1985 году Оливер Сакс издает сборник случаев из своей практики -
        span.event__text_cursive "Человек, который принял жену за шляпу"
        span , вдохновленный работами и личностью Лурия&nbsp;
        span.event__text_cursive (в частности его книгой "Маленькая книжка о большой памяти").
