mixin event_15
	div.event
		span.event__date 1910
		div.event__text.event__text_medium
			p Русский историк становится автором энциклопедии 
				span.event__text_cursive Britannica: 
				span в ее одиннадцатом издании опубликованы статьи Виноградова, посвященные англо-саксонскому праву, сравнительному правоведению, крепостному праву, землевладению, наследованию, сельским общинам и др. Впоследствии Виноградов удостаивается рыцарского звания (1917), а годом позже — принимает британское подданство.