mixin popup-photos
    div.popup-photos
        div.popup-photos__header
            div.popup-photos__title Встреча и переписка Капицы и Резерфорда
            a.popup-photos__nav-link(href="#")
                span.popup-photos__nav-link_circle
        div.popup-photos__slider
            div.popup-photos__slider-track
                //- active - активный слайд, inactive - неактивный слайд
                div.popup-photos__slide.active
                    div.popup-photos__img-block
                        img.popup-photos__img(src="/images/Kapiza-Rezerford/1.png", title="Капица и Вальсон, конец 20-х годов")
                    p.popup-photos__description Капица и Вальсон, конец 20-х годов
                    span.popup-photos__num 1/12
                div.popup-photos__slide.inactive
                    div.popup-photos__img-block
                        img.popup-photos__img(src="/images/Kapiza-Rezerford/2.png", title="Встреча Капицы с мужиками, чтобы показать разработке несколько строк текста, прибитого к левому нижнему краю")
                    p.popup-photos__description Встреча Капицы с мужиками, чтобы показать разработке несколько строк текста, прибитого к левому нижнему краю
                    span.popup-photos__num 2/12
                div.popup-photos__slide.inactive
                    div.popup-photos__img-block
                        img.popup-photos__img(src="/images/Kapiza-Rezerford/3.png", title="Письмо Резерфорда к Капице")
                    p.popup-photos__description Письмо Резерфорда к Капице
                    span.popup-photos__num 3/12
                    //- show - показать расшифровку, hide - скрыть расшифровку
                    div.popup-photos__translation.hide
                        a.popup-photos__translate(href="#") Текстовая расшифровка и перевод
                        div.popup-photos__translation-shadow_big
                        div.popup-photos__translation-shadow_small
                        div.popup-photos__translation_text
                            p Поблагодарив Анну Павловну за ее charmante soirée 1, гости стали расходиться.
                            p Пьер был неуклюж. Толстый, выше обыкновенного роста, широкий, с огромными красными руками, он, как говорится, не умел войти в салон и еще менее умел из него выйти, то есть перед выходом сказать что-нибудь особенно приятное. Кроме того, он был рассеян. Вставая, он вместо своей шляпы захватил треугольную шляпу с генеральским плюмажем и держал ее, дергая султан, до тех пор, пока генерал не попросил возвратить ее. Но вся его рассеянность и неуменье войти в салон и говорить в нем выкупались выражением добродушия, простоты и скромности. Анна Павловна повернулась к нему и, с христианскою кротостью выражая прощение за его выходку, кивнула ему и сказала:
                            p — Надеюсь увидеть вас еще, но надеюсь тоже, что вы перемените свои мнения, мой милый мсье Пьер, — сказала она.
                            p Поблагодарив Анну Павловну за ее charmante soirée 1, гости стали расходиться.
                            p Пьер был неуклюж. Толстый, выше обыкновенного роста, широкий, с огромными красными руками, он, как говорится, не умел войти в салон и еще менее умел из него выйти, то есть перед выходом сказать что-нибудь особенно приятное. Кроме того, он был рассеян. Вставая, он вместо своей шляпы захватил треугольную шляпу с генеральским плюмажем и держал ее, дергая султан, до тех пор, пока генерал не попросил возвратить ее. Но вся его рассеянность и неуменье войти в салон и говорить в нем выкупались выражением добродушия, простоты и скромности. Анна Павловна повернулась к нему и, с христианскою кротостью выражая прощение за его выходку, кивнула ему и сказала:
                            p — Надеюсь увидеть вас еще, но надеюсь тоже, что вы перемените свои мнения, мой милый мсье Пьер, — сказала она.
                div.popup-photos__slide.inactive
                    div.popup-photos__img-block
                        img.popup-photos__img(src="/images/Kapiza-Rezerford/4.png", title="Тимирязев")
                    p.popup-photos__description Тимирязев
                    span.popup-photos__num 4/12