mixin event_17
	div.event
		span.event__date 1922
		div.event__text.event__text_medium
			p Вавилов публикует статью, подробно объясняющую сформулированный им годом ранее Закон гомологических рядов, в журнале 
				span.event__text_cursive Journal of Genetics, 
				span который возглавляет Уильям Бэтсон. 