mixin event_19
	div.event
		span.event__date 1942
		div.event__text.event__text_medium
			p Лондонское королевское общество избирает Вавилова своим иностранным членом. Это решение помогло смягчить приговор в отношении арестованного в 1940 году Вавилова, способствовало улучшению условий его содержания в исправительно-трудовых лагерях и отмене смертного приговора.