mixin about
    div.about
        div.container.about__container
            div.about__text-block
                p.about__text
                    span.about__text_first-letter Т
                    span имирязев вдохновляется теорией эволюции Дарвина, Клиффорд – геометрией Лобачевского, Капица 13 лет работает в лаборатории Резерфорда в Кембридже.
                    span.about__text_cursive  История науки – это история встреч.
                    span  Российские и британские ученые учились друг у друга, проводили совместные исследования, спорили и конкурировали. Некоторые встречи стали поворотными моментами в научной судьбе российских и британских ученых, а иногда – и в истории развития мировой науки.
                p.about__text Не всегда это встречи в буквальном смысле – порой это прочитанная книга, услышанная лекция, заочное знакомство, научная переписка.<br/>Для совместного проекта
                    span.about__text_cursive  Постнауки и Британского Совета
                    span  мы собрали 15 сюжетов о судьбоносных встречах российских и британских ученых за последние 150 лет.
                div.about__share
                    span.about__share-text Расскажите друзьям
                    div.about__share-links
                        a.about__share-links_vk(href="#")
                        a.about__share-links_fb(href="#")
                        a.about__share-links_ok(href="#")
                        a.about__share-links_tw(href="#")
