.about
  height 100vh
  min-height 670px
  background #010101
  font-family "Cisco Sans"
  color #fff
  @media only screen and (max-width 1023px)
    min-height 620px
  @media only screen and (max-width 767px)
    min-height 640px
  @media only screen and (max-width 430px)
    height auto
  &__container
    padding-top 57px
    height 100%
    display flex
    flex-direction column
    justify-content center
    @media only screen and (max-width 1023px)
      padding-top 30px
      padding-bottom 30px
    @media only screen and (max-width: 480px)
      padding-top 64px
      padding-bottom 64px
  &__text-block
    column-count 2
    column-gap 60px
    @media only screen and (max-width 767px)
      column-count 1
  &__text
    font-size 1.5rem
    line-height 1.5
    @media only screen and (max-width 1023px)
      font-size 1.2rem
    @media only screen and (max-width 767px)
      font-size 1rem
    @media only screen and (max-width: 480px)
      font-size 1.25rem
    &:first-child
      max-width 530px
      @media only screen and (max-width 767px)
        max-width 100%
      @media only screen and (max-width: 480px)
        margin-bottom 15px
    &:nth-last-child(2)
      position relative
      text-indent 2rem
      &::after
        content ""
        position relative
        display inline-block
        right -10px
        width 16px
        height 16px
        background url("/images/postnauka.svg") center center no-repeat
        background-size 100%
        @media only screen and (max-width 767px)
          top 2px
    &_first-letter
      float left
      display block
      margin-bottom -15px
      margin-right 18px
      position relative
      top 3px
      right -2px
      font-size 4.375rem
      line-height 1.17
      font-family "Cisco Sans"
      font-weight 900
      @media only screen and (max-width 1023px)
        font-size 3.375rem
        top 0
      @media only screen and (max-width 767px)
        margin-right 13px
        top -5px
      @media only screen and (max-width 480px)
        top 0
    &_cursive
      font-style italic
  &__share
    margin-top 28px
    &-text
      display block
      margin-bottom 10px
      font-size 1.25rem
      font-family "Cisco Sans"
      color rgba(255,255,255,.6)
      @media only screen and (max-width 767px)
        font-size 1.1rem
      @media only screen and (max-width: 480px)
        font-size 1.25rem
    &-links
      display flex
      width 165px
      justify-content space-between
      align-items center
      > a
        width 32px
        height 32px
        border-radius 9px
        position relative
        display block
        transition .5s ease-in-out all
        &::after
          display inline-block
          content ""
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
      &_vk
        background #517398
        &:hover
          background alpha(#517398, .7)
        &::after
          width 22px
          height 14px
          background url("/images/icons/vk.svg") center center no-repeat
      &_fb
        background #4469B0
        &:hover
          background alpha(#4469B0, .7)
        &::after
          width 14px
          height 24px
          background url("/images/icons/fb.svg") center center no-repeat
      &_ok
        background #EC8225
        &:hover
          background alpha(#EC8225, .7)
        &::after
          width 14px
          height 20px
          background url("/images/icons/ok.svg") center center no-repeat
      &_tw
        background #2AA3EF
        &:hover
          background alpha(#2AA3EF, .7)
        &::after
          width 20px
          height 18px
          background url("/images/icons/tw.svg") center center no-repeat
