mixin video_6
	div.video
		span.video__category Видеолекция
		h2.video__title Закон гомологических рядов в наследственной<br/>изменчивости Николая Вавилова 
			span.video__title_author Игорь Лоскутов
		div.video__iframe(style="background-image: url('/images/Vavilov-Batson/video_1.png')")
			div.video__iframe-logos
				img.video__iframe-logos_postnauka(src="/images/Vavilov-Batson/video-logo_1.png")
				img.video__iframe-logos_bc(src="/images/bc-logo-white.png")
			div.video__iframe-text
				p.video__iframe-title Закон гомологических<br/>рядов в наследственной<br/>изменчивости<br/>Николая Вавилова
				p.video__iframe-author Игорь Лоскутов
			a.video__iframe-btn(href="#")
		div.video__bottom
			a.video__bottom-share(href="#") Отправьте видео другу
			a.video__bottom-text(href="#") Текстовая расшифровка