mixin event
	div.event
		span.event__date 1829
		h2.event__title Первая публикация «О началах геометрии» Лобачевского
		div.event__text
			p Труд профессора, ректора Казанского университета Николая Лобачевского «О началах геометрии» был напечатан в журнале «Казанский вестник». Это первая в мире публикация по неевклидовой, или гиперболической, геометрии.
			p В 1835-1838 Лобачевский публикует в журнале «Ученых записки» статьи о «воображаемой геометрии», а затем вышла наиболее полная из его работ «Новые начала геометрии с полной теорией параллельных».
			p В 1837 году статья Лобачевского «Воображаемая геометрия» на французском языке появилась в берлинском «Crelles Journal», которое издавал математик Август Леопольд Крелле. В 1840 году Лобачевский опубликовал на немецком языке книгу «Геометрические исследования по теории параллельных».