include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +header
    +menu
    //- Страница 1
    div.wrapper
      +start
      +about
      div.content.content_1
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Лобачевский и<br/>Клиффорд
          div.events
            +event_1
            +video('Лобачевский, Льюис Кэррол и Клиффорд ', 'Валентина Кириченко')
            +event_2
            +video('Понятие числа от Евдокса до Клиффорда ', 'Владлен Тиморин')
      +fact_1
      +nav_1

    //- Страница 2
    div.wrapper
      div.content.content_2
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Дарвин и<br/>Тимирязев
          div.events
            +event_3
            +video('Идеи Дарвина и дарвинизм ', 'Архат Абжанов')
            +event_4
            +quote_1
            +event_5
            +quote_2
            +video('Идеи Чарльза Дарвина в России ', 'Саймон Уэрретт')
            +event_6
            +quote_3
            +event_7
            +event_8
      +fact_2
      +nav_2

    //- Страница 3
    div.wrapper
      div.content.content_3
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Виноградов и<br/>Мейтленд
          div.events
            +event_9
            +video('Виноградов и Мейтленд о крепостном праве в средневековой Англии ', 'Рори Найсмит')
            +event_10
            +event_11
            +event_medium('1901', 'Из-за разногласий с министром народного просвещения по поводу студенческих волнений Виноградов покидает Московский университет и уезжает из России — сначала во Францию, потом (весной 1902 года) в Великобританию.')
            +quote_4
            +event_13
            +event_medium_cursive('1910', 'Русский историк становится автором энциклопедии ', 'Britannica: ', 'в ее одиннадцатом издании опубликованы статьи Виноградова, посвященные англо-саксонскому праву, сравнительному правоведению, крепостному праву, землевладению, наследованию, сельским общинам и др. Впоследствии Виноградов удостаивается рыцарского звания (1917), а годом позже — принимает британское подданство.')
      +fact_3
      +nav_3

    //- Страница 4
    div.wrapper
      div.content.content_4
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Вавилов и<br/>Бэтсон
          div.events
            +event_default_two('1913', 'Вавилов завершает свое обучение за границей в городе Мертон, Англия, где он стажируется в генетической лаборатории Института садоводства имени Джона Иннеса под руководством профессора Уильяма Бэтсона. Вавилов называл его «первым апостолом нового учения», так как именно Уильям Бэтсон предложил термин «генетика». В лаборатории Бэтсона Вавилов занимается изучением иммунитета хлебных злаков и одновременно знакомится с трудами Дарвина, Ламарка, Гексли и Линнея. Кроме того, он работает в лаборатории генетики Кембриджского университета, которой руководит профессор Реджинальд Паннет.', 'Очень скоро отношения Бэтсона и Вавилова переросли в дружбу — они не только работали вместе, но совместно проводили праздничные дни и досуг, бывали друг у друга дома и общались семьями.')
            +video('Закон гомологических рядов в наследственной изменчивости Николая Вавилова ', 'Игорь Лоскутов')
            +event_medium_cursive('1922', 'Вавилов публикует статью, подробно объясняющую сформулированный им годом ранее Закон гомологических рядов, в журнале ', 'Journal of Genetics, ', 'который возглавляет Уильям Бэтсон. ')
            +event_medium('1923', 'Бэтсон становится иностранным членом Академии наук СССР, после чего заявляет о готовности принимать в своей лаборатории молодых научных сотрудников из Советского Союза и предоставлять им стипендию на время стажировки.')
            +article('Теория центров происхождения культурных растений Николая Вавилова ', 'Игорь Лоскутов', 'Генетик рассказывает об экспедициях Вавилова и значимости его открытий для современной науки.')
            +event_medium('1942', 'Лондонское королевское общество избирает Вавилова своим иностранным членом. Это решение помогло смягчить приговор в отношении арестованного в 1940 году Вавилова, способствовало улучшению условий его содержания в исправительно-трудовых лагерях и отмене смертного приговора.')
            +event_big('1943', 'Осужденный по обвинению в контрреволюционной деятельности Николай Вавилов погибает в Саратовской тюрьме.')
      +fact_4
      +nav_4

    //- Страница 5
    div.wrapper
      div.content.content_5
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Капица и<br/>Резерфорд
          div.events
            +event_default_two('1921', 'Петр Капица работает в Кавендишской лаборатории в Кембридже под руководством Эрнеста Резерфорда. В Англии Капица проводит исследования сверхсильных магнитных полей, благодаря которым получает широкую известность и признание.', 'Первое время отношения между Капицей и Резерфордом складываются достаточно напряженно (поначалу Резерфорд отказывается принимать Капицу на работу и обвиняет его в коммунистической пропаганде), но постепенно ученые сближаются и становятся хорошими друзьями. За проницательность и неумение отступать назад Капица дал Резерфорду знаменитое прозвище “Крокодил”.')
            +event_cursive('1922', 'Петр Капица защищает в Кембридже диссертацию на тему ', '“Прохождение альфа-частиц через вещество и методы получения магнитных полей”, ', 'а три года спустя становится заместителем директора Кавендишской лаборатории магнитных исследований. При содействии Капицы в Великобританию на стажировку приезжают советские ученые, в том числе физики Юлий Харитон и Кирилл Синельников.')
            +event_default('1929', 'Капица становится членом Лондонского королевского общества и получает финансирование на строительство собственной лаборатории в Кембридже.')
            +event_default('1933', 'На открытии лаборатории Капица избирается Мессельским профессором Королевского общества. На входе в лабораторию Капица просит скульптора Эрика Гилла вырезать барельеф крокодила в честь Резерфорда.')
            +quote_5
            +video('Вихри Абрикосова и сверхпроводимость ', 'Седрик Вебер')
            +event_default('1934', 'Капице запретили выезд из Советского союза и аннулировали его Британскую визу, мотивировав это необходимостью ускорить реализацию пятилетнего плана развития советской науки и промышленности. Так как семья Капицы все еще оставалась в Кембридже, Резерфорд помогал и поддерживал их, не прекращая вести переписку с Петром Капицей.')
            +quote_6
            +event_14
            +quote_7
            +event_big('1978', 'Капица получает Нобелевскую премию по физики за открытие сверхтекучего жидкого гелия.')
            +article('Сверхтекучесть и критерий Ландау ', 'Маржена Шиманска', 'Физик Маржена Шиманска рассказывает об ультрахолодных атомах, нарушении симметрии и перспективах дальнейших исследований сверхтекучих веществ.')
        +fact_5
        +nav_5

    //- Страница 6
    div.wrapper
      div.content.content_6
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Лурия и<br/>Сакс
          div.events
            +event_default('1963', 'Александр Лурия дважды посещает Великобританию для участии в симпозиуме по нарушениям речи, осматривает британские нейропсихологические центры и Кембриджский университет. В Англии он знакомится с нейропсихологом Оливером Зангвиллом, который неоднократно признавал значимость влияния Лурия на британскую нейропсихологию.')
            +video('Александр Лурия в Великобритании ', 'Татьяна Ахутина')
            +event_medium_cursive('1973', 'После публикации книги ', '“Пробуждения” ', 'Оливера Сакса Лурия и Сакс вступают в активную переписку и становятся не только коллегами, но и друзьями. Переписка заканчивается в 1977 году со смертью Лурия.')
            +quote_8
            +event_15
        +fact_6
        +nav_6

    //- Страница 7
    div.wrapper
      div.content.content_7
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Сотрудничество<br/>в 21 веке
          div.events
            +event_cursive('2003', 'Совместную Нобелевскую премию по физике ', '“за пионерский вклад в теорию сверхпроводников и сверхтекучих жидкостей” ', 'получают Алексей Абрикосова, Виталий Гинзбурга и Энтони Леггетта.')
            +video('Сверхпроводники II рода и Нобелевская премия по физике Абрикосова, Гинзбурга и Леггетта ', 'Маржена Шиманска')
            +event_default('2004', 'Под руководством Андрея Гейма Константин Новосёлов в составе команды Манчестерского  национального института графена изобретает технологию получения графена и открывают новую аллотропную модификацию углерода.')
            +event_cursive('2010', 'За ', '«передовые опыты с двумерным материалом — графеном» ', 'Константин Новоселов и Андрей Гейм получают Нобелевскую премию по физике, будучи сотрудниками Манчестерского университета.')
            +event_medium_cursive('2013', 'Работая в лаборатории Майкла Стернерга в ', 'Imperial Cancer Research Fund ', 'с 1990-х годов, Алексей Аджубей открывает новую вторичную структуру белка, о чем рассказывает в своей статье 2013-го года.')
            +article('Открытие новой вторичной структуры белка ', 'Алексей Аджубей', 'Молекулярный биолог Алексей Аджубей рассказывает о поиске новой формы вторичной структуры белка и роли российско-британского сотрудничества в исследованиях рака.')
            +event_default('2015', 'Королевское химическое общество в Лондоне и Институт химической физики имени Семенова в Москве ведут параллельные исследования фотодинамической терапии, которая используется для лечения рака.')
            +article('Фотодинамическая терапия рака ', 'Дэвид Филлипс', 'Химик Дэвид Филлипс рассказывает об усовершенствовании методов лечения рака и конкуренции между британскими и российскими учеными.')
            +event_default_two('2015', 'В рамках грантовой программы Европейского Союза лаборатория Эксетерского университета в Англии и и лаборатория института микробиологии РАН в России ведут совместные исследования термофильных микроорганизмов.', 'Микробиолог Елизавета Бонч-Осмоловская, возглавляющая исследования российской стороны, рассказывает о совместной работе с лабораторией Эксетерского университета.')
            +article('Поиск новых термофильных микроорганизмов ', 'Елизавета Бонч-Осмоловская', 'Биолог Елизавета Бонч-Осмоловская рассказывает о поиске новых форм термофильных организмов и их роли в эволюции жизни на Земле.')
      +fact_7

    +footer
