include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +menu
    //- Страница 7
    div.wrapper
      div.content.content_7
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Сотрудничество<br/>в 21 веке
          div.events
            +event_cursive('2003', 'Совместную Нобелевскую премию по физике ', '“за пионерский вклад в теорию сверхпроводников и сверхтекучих жидкостей” ', 'получают Алексей Абрикосова, Виталий Гинзбурга и Энтони Леггетта.')
            +video('Сверхпроводники II рода и Нобелевская премия по физике Абрикосова, Гинзбурга и Леггетта ', 'Маржена Шиманска')
            +event_default('2004', 'Под руководством Андрея Гейма Константин Новосёлов в составе команды Манчестерского  национального института графена изобретает технологию получения графена и открывают новую аллотропную модификацию углерода.')
            +event_cursive('2010', 'За ', '«передовые опыты с двумерным материалом — графеном» ', 'Константин Новоселов и Андрей Гейм получают Нобелевскую премию по физике, будучи сотрудниками Манчестерского университета.')
            +event_medium_cursive('2013', 'Работая в лаборатории Майкла Стернерга в ', 'Imperial Cancer Research Fund ', 'с 1990-х годов, Алексей Аджубей открывает новую вторичную структуру белка, о чем рассказывает в своей статье 2013-го года.')
            +article('Открытие новой вторичной структуры белка ', 'Алексей Аджубей', 'Молекулярный биолог Алексей Аджубей рассказывает о поиске новой формы вторичной структуры белка и роли российско-британского сотрудничества в исследованиях рака.')
            +event_default('2015', 'Королевское химическое общество в Лондоне и Институт химической физики имени Семенова в Москве ведут параллельные исследования фотодинамической терапии, которая используется для лечения рака.')
            +article('Фотодинамическая терапия рака ', 'Дэвид Филлипс', 'Химик Дэвид Филлипс рассказывает об усовершенствовании методов лечения рака и конкуренции между британскими и российскими учеными.')
            +event_default_two('2015', 'В рамках грантовой программы Европейского Союза лаборатория Эксетерского университета в Англии и и лаборатория института микробиологии РАН в России ведут совместные исследования термофильных микроорганизмов.', 'Микробиолог Елизавета Бонч-Осмоловская, возглавляющая исследования российской стороны, рассказывает о совместной работе с лабораторией Эксетерского университета.')
            +article('Поиск новых термофильных микроорганизмов ', 'Елизавета Бонч-Осмоловская', 'Биолог Елизавета Бонч-Осмоловская рассказывает о поиске новых форм термофильных организмов и их роли в эволюции жизни на Земле.')
      +fact_7
