include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +menu
    //- Страница 4
    div.wrapper
      div.content.content_4
        //- добавлять класс above-black - когда ссылка на меню над компонентами start и about
        //- добавлять класс above-fact - когда ссылка над фактом
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Вавилов и<br/>Бэтсон
          div.events
            +event_16
            +video('Закон гомологических рядов в наследственной изменчивости Николая Вавилова ', 'Игорь Лоскутов')
            +event_medium_cursive('1922', 'Вавилов публикует статью, подробно объясняющую сформулированный им годом ранее Закон гомологических рядов, в журнале ', 'Journal of Genetics, ', 'который возглавляет Уильям Бэтсон. ')
            +event_medium('1923', 'Бэтсон становится иностранным членом Академии наук СССР, после чего заявляет о готовности принимать в своей лаборатории молодых научных сотрудников из Советского Союза и предоставлять им стипендию на время стажировки.')
            +article('Теория центров происхождения культурных растений Николая Вавилова ', 'Игорь Лоскутов', 'Генетик рассказывает об экспедициях Вавилова и значимости его открытий для современной науки.')
            +event_medium('1942', 'Лондонское королевское общество избирает Вавилова своим иностранным членом. Это решение помогло смягчить приговор в отношении арестованного в 1940 году Вавилова, способствовало улучшению условий его содержания в исправительно-трудовых лагерях и отмене смертного приговора.')
            +event_big('1943', 'Осужденный по обвинению в контрреволюционной деятельности Николай Вавилов погибает в Саратовской тюрьме.')
      +fact_4
      +nav_4
