include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +menu
    //- Страница 3
    div.wrapper
      div.content.content_3
        //- добавлять класс above-black - когда ссылка на меню над компонентами start и about
        //- добавлять класс above-fact - когда ссылка над фактом
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Виноградов и<br/>Мейтленд
          div.events
            +event_9
            +video('Виноградов и Мейтленд о крепостном праве в средневековой Англии ', 'Рори Найсмит')
            +event_10
            +event_11
            +event_medium('1901', 'Из-за разногласий с министром народного просвещения по поводу студенческих волнений Виноградов покидает Московский университет и уезжает из России — сначала во Францию, потом (весной 1902 года) в Великобританию.')
            +quote_4
            +event_13
            +event_medium_cursive('1910', 'Русский историк становится автором энциклопедии ', 'Britannica: ', 'в ее одиннадцатом издании опубликованы статьи Виноградова, посвященные англо-саксонскому праву, сравнительному правоведению, крепостному праву, землевладению, наследованию, сельским общинам и др. Впоследствии Виноградов удостаивается рыцарского звания (1917), а годом позже — принимает британское подданство.')
      +fact_3
      +nav_3
