include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +menu
    //- Страница 6
    div.wrapper
      div.content.content_6
        //- добавлять класс above-black - когда ссылка на меню над компонентами start и about
        //- добавлять класс above-fact - когда ссылка над фактом
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Лурия и<br/>Сакс
          div.events
            +event_default('1963', 'Александр Лурия дважды посещает Великобританию для участии в симпозиуме по нарушениям речи, осматривает британские нейропсихологические центры и Кембриджский университет. В Англии он знакомится с нейропсихологом Оливером Зангвиллом, который неоднократно признавал значимость влияния Лурия на британскую нейропсихологию.')
            +video('Александр Лурия в Великобритании ', 'Татьяна Ахутина')
            +event_medium_cursive('1973', 'После публикации книги ', '«Пробуждения» ', 'Оливера Сакса Лурия и Сакс вступают в активную переписку и становятся не только коллегами, но и друзьями. Переписка заканчивается в 1977 году со смертью Лурия.')
            +quote_8
            +event_15
        +fact_6
        +nav_6
