include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +menu
    //- Страница 5
    div.wrapper
      div.content.content_5
        //- добавлять класс above-black - когда ссылка на меню над компонентами start и about
        //- добавлять класс above-fact - когда ссылка над фактом
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Капица и<br/>Резерфорд
          div.events
            +event_17
            +event_cursive('1922', 'Петр Капица защищает в Кембридже диссертацию на тему ', '«Прохождение альфа-частиц через вещество и методы получения магнитных полей», ', 'а три года спустя становится заместителем директора Кавендишской лаборатории магнитных исследований. При содействии Капицы в Великобританию на стажировку приезжают советские ученые, в том числе физики Юлий Харитон и Кирилл Синельников.')
            +event_default('1929', 'Капица становится членом Лондонского королевского общества и получает финансирование на строительство собственной лаборатории в Кембридже.')
            +event_default('1933', 'На открытии лаборатории Капица избирается Мессельским профессором Королевского общества. На входе в лабораторию Капица просит скульптора Эрика Гилла вырезать барельеф крокодила в честь Резерфорда.')
            +quote_5
            +video('Вихри Абрикосова и сверхпроводимость ', 'Седрик Вебер')
            +event_default('1934', 'Капице запретили выезд из Советского союза и аннулировали его Британскую визу, мотивировав это необходимостью ускорить реализацию пятилетнего плана развития советской науки и промышленности. Так как семья Капицы все еще оставалась в Кембридже, Резерфорд помогал и поддерживал их, не прекращая вести переписку с Петром Капицей.')
            +quote_6
            +event_14
            +quote_7
            +event_big('1978', 'Капица получает Нобелевскую премию по физики за открытие сверхтекучего жидкого гелия.')
            +article('Сверхтекучесть и критерий Ландау ', 'Маржена Шиманска', 'Физик Маржена Шиманска рассказывает об ультрахолодных атомах, нарушении симметрии и перспективах дальнейших исследований сверхтекучих веществ.')
        +fact_5
        +nav_5
