include ./../components/index.pug

doctype html
html.ua(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    +menu
    //- Страница 2
    div.wrapper
      div.content.content_2
        //- добавлять класс above-black - когда ссылка на меню над компонентами start и about
        //- добавлять класс above-fact - когда ссылка над фактом
        a.content__nav-link(href="#")
          span.content__nav-link_text Все<br/>встречи
          span.content__nav-link_circle
        div.container.content__container
          h1.content__title Дарвин и<br/>Тимирязев
          div.events
            +event_3
            +video('Идеи Дарвина и дарвинизм ', 'Архат Абжанов')
            +event_4
            +quote_1
            +event_5
            +quote_2
            +video('Идеи Чарльза Дарвина в России ', 'Саймон Уэрретт')
            +event_6
            +quote_3
            +event_7
            +event_8
      +fact_2
      +nav_2
