.fact
	position relative
	height 100vh
	min-height 650px
	padding 53px 0
	color #fff
	font-family "Cisco Sans", sans-serif
	&_2
		min-height 880px
		.fact__text
			font-size 1.125rem
		@media only screen and (max-width 1250px)
			/**/
	&__nav-link
		position absolute
		top 36px
		right 36px
		display flex
		align-items center
		&_circle
			display block
			position relative
			width 40px
			height 40px
			border-radius 50%
			background #fff
			transition .5s ease-in-out all
			&:hover
				opacity .7
			&::before,
			&::after
				display inline-block
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				content ""
				background #000
			&::before
				width 14px
				height 1px
			&::after
				width 1px
				height 14px
	&__h2
		margin-bottom 24px
		font-family "Helios"
		font-weight 900
		font-size 2.5rem
		line-height 1
	&__container
		height 100%
	&__wrap
		height calc(100% - 130px)
		display flex
		justify-content center
		align-items center
	&__block
		position relative
		width 770px
	&__date
		position absolute
		top 0
		left -30px
		transform translate(-100%)
		font-size 1.5rem
		line-height 1.5
		font-family "Helios"
		font-weight 900
		color rgba(255,255,255,.5)
		text-align right
		@media only screen and (max-width 1199px)
			left -13px
	&__title
		margin-bottom 23px
		font-weight normal
		font-size 1.5rem
		line-height 1.5
		font-family "Helios"
	&__img
		margin-bottom 9px
		display flex
		justify-content center
		align-items center
		height 339px
		border-radius 4px
		background #fff
		box-shadow 0 2px 3px rgba(0,0,0,0.1)
	&__text
		font-size 1.5rem
		line-height 1.5
		&_cursive
			font-family "SangBleu Sunrise"
			font-style italic
		p
			margin-bottom 12px
