mixin fact_2
    div.fact.fact_2(style="background: url('/images/Darvin-Timiryazev/fact-bg_1.png') left 222px no-repeat, #1b1a1a; background-size 16%, auto")
        a.fact__nav-link(href="#")
            span.fact__nav-link_circle
        div.container.fact__container
            h2.fact__h2 Интересный<br/>факт
            div.fact__wrap
                div.fact__block
                    span.fact__date 1882
                    h2.fact__title Дмитрий Менделеев получает медаль Дэви
                    div.fact__img
                        img(src="/images/Darvin-Timiryazev/medal.png")
                    div.fact__text
                        p Медаль Дэви 
                            span.fact__text_cursive (Davy Medal), 
                            span названная в честь британского химика Гемфри Дэви, ежегодно присуждается Лондонским королевским обществом «за чрезвычайно важные открытия в любой области химии». К медали прилагается денежная премия в размере 2000 фунтов стерлингов. В 1882 году медаль Дэви была присуждена «за открытие периодических соотношений атомных весов» сразу двум ученым — Дмитрию Менделееву и Юлиусу Лотару Мейеру 
                            span.fact__text_cursive (немецкому химику, разрабатывавшему периодическую систему элементов параллельно с Менделеевым). 
                            span Впоследствии Менделеев также получил Фарадеевскую медаль Английского химического общества (1889) и медаль Копли Лондонского королевского общества (1905)