mixin event_34
  div.event
    span.event__date 2013
    div.event__text.event__text_medium
      p Работая в лаборатории Майкла Стернерга в &nbsp;
        span.event__text_cursive Imperial Cancer Research Fund&nbsp;
        span с 1990-х годов, Алексей Аджубей открывает новую вторичную структуру белка, о чем рассказывает в своей статье 2013-го года.
