mixin quote_7
  div.quote
    h2.quote__author
      img.quote__author_img(src="/images/Kapica-Rezerford/Pyotr_Kapitsa_1930s.jpg")
      span.quote__author_text Петр Капица, 1943
    div.quote__text
      p Учитель, благодаря своему опыту, руководит направлением работы, но в конечном счёте учителя учат его ученики, они углубляют его знания и расширяют его кругозор. Без учеников учёный обычно очень быстро погибает как творческая личность и перестаёт двигаться вперёд. Я никогда не забываю слов моего большого учителя Резерфорда: «Капица, – говорил он, – ты знаешь, что только благодаря ученикам я себя чувствую тоже молодым»
    p.quote__cite Всё простое – правда... Афоризмы и размышления П.Л. Капицы.../Сост. П. Е. Рубинин.–М.: изд-во Моск. физ.-тех. ин-та, 1994.
