mixin start
    div.start
        div.start__header
            div.start__logos
                img.start__logos_postnauka(src="/images/postnauka.png")
                img.start__logos_bc(src="/images/british-council.png")
            a.start__nav-link(href="#")
                span.start__nav-link_text Все встречи
                span.start__nav-link_circle
        div.container.start__container
            div.start__text-block
                h1.start__title Капица — Резерфорд
                p.start__description 150 лет российской науки в Великобритании и британской науки в России 
                    span.start__description_cursive Проект об отношениях российской и британской науки через встречи ученых
                a.start__read-more(href="#") Читать