mixin video_4
	div.video
		span.video__category Видеолекция
		h2.video__title Идеи Чарльза Дарвина в России 
			span.video__title_author Саймон Уэрретт
		div.video__iframe(style="background-image: url('/images/Darvin-Timiryazev/video_2.png')")
			div.video__iframe-logos
				img.video__iframe-logos_postnauka(src="/images/Darvin-Timiryazev/video-logo_2.png")
				img.video__iframe-logos_bc(src="/images/bc-logo-white.png")
			div.video__iframe-text
				p.video__iframe-title Идеи Чарльза<br/>Дарвина в России
				p.video__iframe-author Саймон Уэрретт
			a.video__iframe-btn(href="#")
		div.video__bottom
			a.video__bottom-share(href="#") Отправьте видео другу
			a.video__bottom-text(href="#") Текстовая расшифровка