mixin description
    div.description
        div.container.description__container
            div.description__text-block
                p.description__text
                    span.description__text_first-letter Т
                    span имирязев вдохновляется теорией эволюции Дарвина, Клиффорд – геометрией Лобачевского, Капица 13 лет работает в лаборатории Резерфорда в Кембридже. 
                    span.description__text_cursive История науки – это история встреч. 
                    span Российские и британские ученые учились друг у друга, проводили совместные исследования, спорили и конкурировали. Некоторые встречи стали поворотными моментами в научной судьбе российских и британских ученых, а иногда – и в истории развития мировой науки.
                p.description__text Не всегда это встречи в буквальном смысле – порой это прочитанная книга, услышанная лекция, заочное знакомство, научная переписка.<br/>Для совместного проекта 
                    span.description__text_cursive Постнауки и Британского Совета 
                    span мы собрали 15 сюжетов о судьбоносных встречах российских и британских ученых за последние 150 лет.
                div.description__share
                    span.description__share-text Расскажите друзьям
                    div.description__share-links
                        a.description__share-links_vk(href="#")
                        a.description__share-links_fb(href="#")
                        a.description__share-links_ok(href="#")
                        a.description__share-links_tw(href="#")