mixin lecture_preview
  pre
    | Давно ли цвел зеленый дол,
    | Лес шелестел листвой,
    | И каждый лист был свеж и чист
    | От влаги дождевой.
    |
    | Где этот летний рай?
    | Лесная глушь мертва.
    | Но снова май придет в наш край
    | И зашумит листва...
    |
    | Но ни весной, ни в летний зной
    | С себя я не стряхну
    | Тяжелый след прошедших лет,
    | Печаль и седину.
    |
    | Под старость краток день,
    | А ночь без сна длинна.
    | И дважды в год к нам не придет
    | Счастливая весна.
  img(src="/images/webpack.png")
