include header/header.pug
include footer/footer.pug
include lecture_preview/lecture_preview.pug
include main/main.pug
include description/description.pug
include event/event.pug
include video/video.pug