include header/header.pug
include footer/footer.pug
include lecture_preview/lecture_preview.pug
include start/start.pug
include about/about.pug
include event_1/event_1.pug
include video_1/video_1.pug
include event_2/event_2.pug
include video_2/video_2.pug
include fact_1/fact_1.pug
include nav_1/nav_1.pug
include event_3/event_3.pug
include video_3/video_3.pug
include event_4/event_4.pug
include quote_1/quote_1.pug
include event_5/event_5.pug
include quote_2/quote_2.pug
include video_4/video_4.pug
include event_6/event_6.pug
include quote_3/quote_3.pug
include event_7/event_7.pug
include event_8/event_8.pug
include fact_2/fact_2.pug
include nav_2/nav_2.pug