include header/header.pug
include footer/footer.pug
include lecture_preview/lecture_preview.pug
include menu/menu.pug
include start/start.pug
include about/about.pug
include event_1/event_1.pug
include video/video.pug
include event_2/event_2.pug
include fact_1/fact_1.pug
include nav_1/nav_1.pug
include event_3/event_3.pug
include event_4/event_4.pug
include quote_1/quote_1.pug
include event_5/event_5.pug
include quote_2/quote_2.pug
include event_6/event_6.pug
include quote_3/quote_3.pug
include event_7/event_7.pug
include event_8/event_8.pug
include fact_2/fact_2.pug
include nav_2/nav_2.pug
include event_9/event_9.pug
include event_10/event_10.pug
include event_11/event_11.pug
include event_12/event_12.pug
include event_13/event_13.pug
include quote_4/quote_4.pug
include event_14/event_14.pug
include event_15/event_15.pug
include fact_3/fact_3.pug
include nav_3/nav_3.pug
include event_16/event_16.pug
include event_17/event_17.pug
include event_18/event_18.pug
include article_1/article_1.pug
include event_19/event_19.pug
include event_20/event_20.pug
include fact_4/fact_4.pug
include nav_4/nav_4.pug
include event_21/event_21.pug
include event_22/event_22.pug
include event_23/event_23.pug
include event_24/event_24.pug
include event_25/event_25.pug
include event_26/event_26.pug
include event_27/event_27.pug
include quote_5/quote_5.pug
include quote_6/quote_6.pug
include quote_7/quote_7.pug
include article_2/article_2.pug
include fact_5/fact_5.pug
include nav_5/nav_5.pug
include fact_6/fact_6.pug
include nav_6/nav_6.pug
include event_28/event_28.pug
include event_29/event_29.pug
include event_30/event_30.pug
include quote_8/quote_8.pug
include event_31/event_31.pug
include event_32/event_32.pug
include event_33/event_33.pug
include event_34/event_34.pug
include event_35/event_35.pug
include event_36/event_36.pug
include article_3/article_3.pug
include article_4/article_4.pug
include article_5/article_5.pug
include fact_7/fact_7.pug
