@import "footer/footer.styl"
@import "header/header.styl"
@import "lecture_preview/lecture_preview.styl"
@import "main/main.styl"
@import "description/description.styl"
@import "event/event.styl"
@import "video/video.styl"
@import "event_2/event_2.styl"
@import "video_2/video_2.styl"
@import "fact/fact.styl"
@import "nav/nav.styl"