@import "footer/footer.styl"
@import "header/header.styl"
@import "lecture_preview/lecture_preview.styl"
@import "start/start.styl"
@import "about/about.styl"
@import "event_1/event_1.styl"
@import "video_1/video_1.styl"
@import "event_2/event_2.styl"
@import "video_2/video_2.styl"
@import "fact_1/fact_1.styl"
@import "nav_1/nav_1.styl"
@import "event_3/event_3.styl"
@import "video_3/video_3.styl"
@import "event_4/event_4.styl"
@import "quote_1/quote_1.styl"
@import "event_5/event_5.styl"
@import "quote_2/quote_2.styl"
@import "video_4/video_4.styl"
@import "event_6/event_6.styl"
@import "quote_3/quote_3.styl"
@import "event_7/event_7.styl"
@import "event_8/event_8.styl"