mixin event_4
	div.event
		span.event__date 1860
		h2.event__title Тимирязев на лекции впервые слышит про Дарвина
		div.event__text
			p Про теорию эволюции очень быстро услышали в России. Проходит всего три месяца после первой публикации труда Дарвина в Англии, а в России профессор зоологии Степан Куторга уже читает студентам Петербургского университета лекции о дарвиновской теории эволюции.
			p Именно на его лекции в сентябре 1860 года студент Петербургского университета Климент Тимирязев впервые слышит о книге Дарвина.