.event
  position relative
  margin 0 auto 64px
  width 770px
  @media only screen and (max-width 1023px)
    width 600px
  @media only screen and (max-width 767px)
    width 100%
    margin-right 0
    background #d6d2cd
    padding 10px 0
  @media only screen and (max-width: 480px)
    margin-bottom 64px
  &__date
    position absolute
    top 0
    left -48px
    transform translate(-100%)
    font-size 1.5rem
    line-height 1.5
    font-family "Helios"
    font-weight 900
    color rgba(0,0,0,.5)
    background #D6D2CD
    padding-bottom 5px
    @media only screen and (max-width 1199px)
      left -30px
    @media only screen and (max-width 1023px)
      left -10px
      top 2px
      font-size 1.2rem
    @media only screen and (max-width 767px)
      position static
      font-size 1.3rem
    @media only screen and (max-width: 480px)
      font-size 1.25rem
      line-height 1.5
  &__title
    margin-bottom 8px
    font-weight normal
    font-size 1.5rem
    line-height 1.5
    font-family "Helios"
    @media only screen and (max-width 1023px)
      font-size 1.3rem
    @media only screen and (max-width 767px)
      font-size 1.2rem
    @media only screen and (max-width: 480px)
      font-size 1.125rem
  &__img
    display flex
    justify-content center
    align-items center
    margin-bottom 24px
    height auto
    padding 28px 0
    border-radius 4px
    box-shadow 0 2px 3px rgba(0,0,0,0.1)
    background #fff
    background-repeat no-repeat
    background-position right top
    img
      max-width 90%
      max-height 100%
    @media only screen and (max-width: 480px)
      margin-bottom 32px
      width calc(100% + 32px)
      margin-left -16px
      height 300px
      background #F2F2F2 !important
  &__text
    font-size 1.125rem
    line-height 1.5
    @media only screen and (max-width 1023px)
      font-size 1rem
    &_big
      font-family "Helios"
      font-size 1.5rem !important
      @media only screen and (max-width 767px)
        font-size 1.4rem !important
    &_medium
      font-size 1.25rem !important
      @media only screen and (max-width 767px)
        font-size 1.2rem !important
    &_cursive
      font-family "SangBleu Sunrise"
      font-style italic
    p
      margin-bottom 7px
      &:last-child
        margin-bottom 0
