mixin event_9
	div.event
		span.event__date 1884
		h2.event__title Знакомство Павла Виноградова и Фредерика Мейтленда
		div.event__text
			p 11 мая 1884 года во время загородной прогулки знакомятся два историка-медиевиста и правоведа — Фредерик Мейтленд и Павел Виноградов. Впоследствии Мейтленд скажет, что день этой встречи предопределил всю его дальнейшую жизнь.
			p Павел Виноградов — в это время доцент кафедры всеобщей истории Московского университета — приехал в Лондон изучать архивные документы о землевладении и жизни крестьянства в средневековой Англии, чтобы собрать материал для своей докторской диссертации.
			p После разговора с ним Мейтленд был расстроен, что гость из России знает об архивных материалах по истории английского права больше, чем он, кембриджский правовед. На следующий же день Мейтленд по примеру Виноградова отправился работать в лондонский Государственный архив.
			p В том же 1884 году Фредерик Мейтленд издал с посвящением Павлу Виноградову результат своих архивных изысканий — юридический документ 1221 года 
				span.event__text_cursive Pleas of the Crown for the County of Gloucester («Тяжбы графства Глостер»).