mixin event_14
  div.event
    span.event__date 1942
    div.event__text
      p Британское общество Institution of Engineering and Technology наградило Капицу медалью Фарадея за научный вклад в развитие инженерных технологий.
    div.event__img(style="background-image: url('/images/img-bg.png')")
      img(src="/images/Kapica-Rezerford/Faraday-medal.jpg")
