mixin event_10
	div.event
		span.event__date 1887
		div.event__text.event__text_medium
			p Фредерик Мейтленд основывает 
				span.event__text_cursive Selden Society 
				span — научное общество, посвященное истории английского права и изданию источников. Общество существует по сей день и продолжает ежегодно публиковать памятники юридической истории Великобритании
			p В этом же году Виноградов защищает в Москве диссертацию 
				span.event__text_cursive «Исследование по социальной истории Англии в Средние века», 
				span получает степень доктора наук и становится ординарным профессором Московского университета по кафедре всеобщей истории.