mixin article_3
  div.article
    span.article__category Статья
    h2.article__title Открытие новой вторичной структуры белка &nbsp;
      span.article__title_author Алексей Аджубей
    p.article__description Молекулярный биолог Алексей Аджубей рассказывает о поиске новой формы вторичной структуры белка и роли российско-британского сотрудничества в исследованиях рака.
    a.article__read(href="#")
      span.article__read-text Читать
      span.article__read-time ~8 мин
