mixin article_4
  div.article
    span.article__category Статья
    h2.article__title Фотодинамическая терапия рака &nbsp;
      span.article__title_author Дэвид Филлипс
    p.article__description Химик Дэвид Филлипс рассказывает об усовершенствовании методов лечения рака и конкуренции между британскими и российскими учеными.
    a.article__read(href="#")
      span.article__read-text Читать
      span.article__read-time ~8 мин
