mixin start-slide-1
    div.start-slide-1
        div.start-slide-1__header
            div.start-slide-1__logos
                img.start-slide-1__logos_postnauka(src="/images/postnauka.png")
                img.start-slide-1__logos_bc(src="images/british-council.png")
            a.start-slide-1__nav-link(href="#")
                span.start-slide-1__nav-link_text Все встречи
                span.start-slide-1__nav-link_circle
        div.container.start-slide-1__container
            div.start-slide-1__text-block
                h1.start-slide-1__title Капица — Резерфорд
                p.start-slide-1__description 150 лет российской науки в Великобритании и британской науки в России 
                    span.start-slide-1__description_cursive Проект об отношениях российской и британской науки через встречи ученых
                a.start-slide-1__read-more(href="#") Читать