mixin event_13
	div.event
		span.event__date 1903
		div.event__text.event__text_big
			p Мейтленд умирает от туберкулеза на Канарских островах. Павел Виноградов становится директором основанного Мейтлендом&nbsp;
				span.event__text_cursive Selden Society.
