mixin event_11
	div.event
		span.event__date 1892
		div.event__text.event__text_medium
			p Оксфордское издательство 
				span.event__text_cursive «Clarendon Press» 
				span предложило Виноградову напечатать на английском языке часть его диссертации, посвященную крепостному строю в Англии. В результате Виноградов написал по сути новую книгу — 
				span.event__text_cursive «Villainage in England». 
				span Книга стала знаменита и очень популярна в Англии.