mixin article_5
  div.article
    span.article__category Статья
    h2.article__title Поиск новых термофильных микроорганизмов &nbsp;
      span.article__title_author Елизавета Бонч-Осмоловская
    p.article__description Биолог Елизавета Бонч-Осмоловская рассказывает о поиске новых форм термофильных организмов и их роли в эволюции жизни на Земле.
    a.article__read(href="#")
      span.article__read-text Читать
      span.article__read-time ~8 мин
