mixin event_35
  div.event
    span.event__date 2015
    div.event__text
      p Королевское химическое общество в Лондоне и Институт химической физики имени Семенова в Москве ведут параллельные исследования фотодинамической терапии, которая используется для лечения рака.
