mixin event_3
	div.event
		span.event__date 1859
		h2.event__title Выходит «Происхождение видов» Чарльза Дарвина
		div.event__img(style="background-image: url('/images/img-bg.png')")
			img(src="/images/Darvin-Timiryazev/the_origin_of_species.png")
		div.event__text
			p 24 ноября 1859 года в лондонском издательстве Джона Мюррея выходит тиражом 1250 экземпляров книга Чарльза Дарвина
				span.event__text_cursive «Происхождение видов путем естественного отбора, или Сохранение благоприятных рас в борьбе за жизнь».
				span Весь тираж был раскуплен в первый же день.
