.fact
  position relative
  height 100vh
  padding 64px 0 80px
  color #fff
  font-family "Cisco Sans", sans-serif
  @media only screen and (max-width 1023px)
    padding-bottom 35px
  @media only screen and (max-width 767px)
    padding-top 16px
    height auto !important
    min-height auto !important
  &_1
    min-height 700px
    @media only screen and (max-width 1250px)
      background url('/images/Lobachevskiy-Kliffod/fact-bg_1.png') left 520px no-repeat, url('/images/Lobachevskiy-Kliffod/fact-bg_2.png') right 200px no-repeat, #1b1a1a !important
      background-size 14%, 17%, auto !important
    @media only screen and (max-width 1023px)
      min-height 600px
    @media only screen and (max-width 767px)
      background-position left 110%, right 20% !important
    @media only screen and (max-width 480px)
      padding-bottom 280px
      background url('/images/Lobachevskiy-Kliffod/fact-mob_bg.png') center bottom no-repeat, #1b1a1a !important
      background-size 100% !important
  &_2
    min-height 960px
    @media only screen and (max-width 1023px)
      min-height 890px
      background-size 20% !important
    @media only screen and (max-width 767px)
      background-position left 110%
    .fact__text
      font-size 1.125rem
    @media only screen and (max-width 480px)
      padding-bottom 280px
      background url('/images/Darvin-Timiryazev/fact-mob_bg.png') center bottom no-repeat, #1b1a1a !important
      background-size 100% !important
  &_3
    min-height 1150px
    @media only screen and (max-width 1023px)
      min-height 920px
  &_4
    min-height 1220px
    @media only screen and (max-width 1023px)
      min-height 980px
  &_5
    min-height 1210px
  &_6
    min-height 1040px
  &_7
    min-height 1115px
  &__h2
    margin-bottom 58px
    font-family "Helios"
    font-weight 900
    font-size 2.5rem
    line-height 1
    @media only screen and (max-width 480px)
      font-size 1.5rem
      margin-bottom 58px
  &__container
    height 100%
  &__wrap
    height calc(100% - 130px)
    display flex
    justify-content center
    align-items center
  &__block
    position relative
    width 770px
    @media only screen and (max-width 1023px)
      width 560px
  &__date
    position absolute
    top 0
    width 120px
    left -30px
    transform translate(-100%)
    font-size 1.5rem
    line-height 1.5
    font-family "Helios"
    font-weight 900
    color rgba(255,255,255,.5)
    text-align right
    @media only screen and (max-width 1199px)
      left -13px
    @media only screen and (max-width 1023px)
      font-size 1.2rem
    @media only screen and (max-width 767px)
      position static
    @media only screen and (max-width 480px)
      font-size 1.25rem
      margin-bottom 4px
  &__title
    margin-bottom 23px
    font-weight normal
    font-size 1.5rem
    line-height 1.5
    font-family "Helios"
    @media only screen and (max-width 1023px)
      font-size 1.3rem
    @media only screen and (max-width 480px)
      font-size 1.125rem
      margin-bottom 12px
  &__img
    margin-bottom 24px
    display flex
    justify-content center
    align-items center
    height 339px
    border-radius 4px
    background #fff
    box-shadow 0 2px 3px rgba(0,0,0,0.1)
    @media only screen and (max-width 1023px)
      height 260px
      img
        max-width 100%
        max-height 100%
  &__text
    font-size 1.5rem
    line-height 1.5
    @media only screen and (max-width 1023px)
      font-size 1.2rem
    @media only screen and (max-width 480px)
      font-size 1rem
    &_cursive
      font-family "SangBleu Sunrise"
      font-style italic
    p
      margin-bottom 12px
  &-video
    position relative
    margin 48px auto 0
    width 770px
    padding-top 25px
    background #FFFFFF
    border-radius 4px
    box-shadow 0 2px 3px rgba(0,0,0,0.1)
    @media only screen and (max-width 1023px)
      margin-top 20px
      width 600px
    @media only screen and (max-width 767px)
      width 100%
      padding-top 15px
    @media only screen and (max-width 480px)
      width calc(100% + 32px)
      margin-left -16px
    &__category
      display inline-block
      margin-bottom 6px
      padding-left 30px
      letter-spacing 3px
      font-size .75rem
      color rgba(0,0,0,.6)
      line-height 1.33
      text-transform uppercase
      @media only screen and (max-width 767px)
        padding-left 20px
        font-size .65rem
        margin-bottom 5px
      @media only screen and (max-width 480px)
        font-size .75rem
        margin-bottom 6px
        padding 0 16px
    &__title
      margin-bottom 24px
      padding-left 27px
      font-size 1.5rem
      line-height 1.33
      font-weight normal
      color #000
      @media only screen and (max-width 1023px)
        padding-right 20px
      @media only screen and (max-width 767px)
        padding-left 20px
        margin-bottom 10px
        font-size 1.3rem
      @media only screen and (max-width 480px)
        font-size 1.5rem
        line-height 1.33
        padding 0 16px
        margin-bottom 16px
      &_author
        color rgba(0,0,0,.6)
    &__iframe
      position relative
      height 0
      padding 0
      padding-bottom 56.25%
      iframe
        position absolute
        left 0
        top 0
        width 100%
        height 100%
    &__bottom
      display flex
      justify-content space-between
      align-items center
      padding 17px 30px
      @media only screen and (max-width 767px)
        padding 10px 20px
        flex-wrap wrap
      @media only screen and (max-width 480px)
        padding 16px
        position relative
        &::after
          content ""
          width 100%
          height 1px
          background rgba(0,0,0,.1)
          position absolute
          left 0
          top 50%
      &-share
        color rgba(0, 0, 0, 0.6)
        font-size 1rem
        text-decoration none
        line-height 1.5
        @media only screen and (max-width 767px)
          margin-bottom 8px
        @media only screen and (max-width 480px)
          margin-bottom 32px
        &::before
          margin-right 8px
          content ""
          position relative
          display inline-block
          width 16px
          height 15px
          top 1px
          background url("/images/icons/video-share.svg") center center no-repeat
      &-text
        color rgba(0, 0, 0, 0.6)
        font-size 1rem
        text-decoration none
        line-height 1.5
        &::before
          margin-right 10px
          content ""
          position relative
          display inline-block
          width 10px
          height 10px
          background url("/images/icons/video-text.svg") center center no-repeat
          @media only screen and (max-width 480px)
            transform rotate(-45deg)
  &-quote
    width 770px
    margin-top 40px
    padding 24px 30px 28px
    background #F2F2F2
    border-radius 4px
    box-shadow 0 2px 3px rgba(0,0,0,0.1)
    font-family "Cisco Sans", sans-serif
    @media only screen and (max-width 1023px)
      width 600px
    @media only screen and (max-width 767px)
      width 100%
      padding 24px 20px 28px
    @media only screen and (max-width: 480px)
      width calc(100% + 32px)
      margin-left -16px
      padding 24px 16px 30px
    &__text
      margin-bottom 9px
      font-size 1.25rem
      line-height 1.6
      color #333
      @media only screen and (max-width 767px)
        font-size 1rem
      @media only screen and (max-width: 480px)
        line-height 1.6
      &_big
        margin-top -13px
        margin-bottom 6px
        font-size 1.5rem
        line-height 1.5
        font-family "Helios"
        @media only screen and (max-width 767px)
          font-size 1.25rem
        @media only screen and (max-width: 480px)
          font-size 1.5rem
        @media only screen and (max-width: 480px)
          line-height 1.33
          margin-top 0
    &__cite
      color rgba(0,0,0,.6)
      font-size 1rem
      line-height 1.5
      font-family "Helios"
      @media only screen and (max-width 767px)
        font-size .9rem

