// первый вариант подключения - по ссылке
//@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

// второй вариант подключения - локальный
@font-face
  font-family "Amatic SC"
  src url(/fonts/Amatic_SC/AmaticSC-Regular.ttf)
  font-weight normal
  font-style normal
