// первый вариант подключения - по ссылке
//@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

// второй вариант подключения - локальный
@font-face
  font-family "Amatic SC"
  src url(/fonts/Amatic_SC/AmaticSC-Regular.ttf)
  font-weight normal
  font-style normal

//Cisco Sans
@font-face
  font-family "Cisco Sans"
  src url(/fonts/CiscoSans/CiscoSans.otf)
  font-weight normal
  font-style normal
  
@font-face
  font-family "Cisco Sans"
  src url(/fonts/CiscoSans/CiscoSans-Bold.otf)
  font-weight bold
  font-style normal
  
//SangBleu Sunrise
@font-face
  font-family "SangBleu Sunrise"
  src url(/fonts/SangBleu-Sunrise/SangBleuSunrise-Regular-WebXL.otf)
  font-weight normal
  font-style normal
  
@font-face
  font-family "SangBleu Sunrise"
  src url(/fonts/SangBleu-Sunrise/SangBleuSunrise-RegularItalic-WebXL.otf)
  font-weight normal
  font-style italic

//Helios
//900 - Black
@font-face
  font-family "Helios"
  src url(/fonts/Helios/heliosextblackc.otf)
  font-weight 900
  font-style normal