mixin event_1
  div.event
    span.event__date 1829
    h2.event__title Первая публикация «О началах геометрии» Лобачевского
    div.event__text
      p Труд профессора, ректора Казанского университета Николая Лобачевского&nbsp;
        span.event__text_cursive «О началах геометрии»&nbsp;
        span был напечатан в журнале&nbsp;
        span.event__text_cursive «Казанский вестник».&nbsp;
        span Это первая в мире публикация по неевклидовой, или гиперболической, геометрии.
      p В 1835-1838 Лобачевский публикует в журнале&nbsp;
        span.event__text_cursive «Ученые записки»&nbsp;
        span статьи о&nbsp;
        span.event__text_cursive «воображаемой геометрии»,
        span &nbsp;а затем вышла наиболее полная из его работ&nbsp;
        span.event__text_cursive «Новые начала геометрии с полной теорией параллельных».
      p В 1837 году статья Лобачевского&nbsp;
        span.event__text_cursive «Воображаемая геометрия»&nbsp;
        span на французском языке появилась в берлинском&nbsp;
        span.event__text_cursive «Crelles Journal»&nbsp;
        span , которое издавал математик Август Леопольд Крелле. В 1840 году Лобачевский опубликовал на немецком языке книгу&nbsp;
        span.event__text_cursive «Геометрические исследования по теории параллельных».
