mixin event_22
  div.event
    span.event__date 1922
    div.event__text
      p Петр Капица защищает в Кембридже диссертацию на тему
        span.event__text_cursive “Прохождение альфа-частиц через вещество и методы получения магнитных полей”,
        span а три года спустя становится заместителем директора Кавендишской лаборатории магнитных исследований. При содействии Капицы в Великобританию на стажировку приезжают советские ученые, в том числе физики Юлий Харитон и Кирилл Синельников.
