mixin article_2
  div.article
    span.article__category Статья
    h2.article__title Сверхтекучесть и критерий Ландау &nbsp;
      span.article__title_author Маржена Шиманска
    p.article__description Физик Маржена Шиманска рассказывает об ультрахолодных атомах, нарушении симметрии и перспективах дальнейших исследований сверхтекучих веществ.
    a.article__read(href="#")
      span.article__read-text Читать
      span.article__read-time ~8 мин
