mixin nav
    div.nav
        div.nav__item
            a.nav__link(href="#")
                span.nav__text Посмотреть меню
                p.nav__title Все<br/>встречи
        div.nav__item
            a.nav__link(href="#")
                span.nav__text Читать дальше
                p.nav__title Дарвин и<br/>Тимирязев