mixin nav
    div.nav
        a.nav__item(href="#")
            span.nav__text Посмотреть меню
            p.nav__title Все<br/>встречи
        a.nav__item(href="#")
            span.nav__text.nav__text_orange Читать дальше
            p.nav__title Дарвин и<br/>Тимирязев