mixin quote_6
  div.quote
    h2.quote__author
      img.quote__author_img(src="/images/Kapica-Rezerford/Pyotr_Kapitsa_1930s.jpg")
      span.quote__author_text Петр Капица, 1935
    div.quote__text
      p Я твёрдо верю в интернациональность науки и верю в то, что настоящая наука должна быть вне всяких политических страстей и борьбы, как бы её туда ни стреми­лись вовлечь, и я ве­рю, что научная работа, которую я делал всю жизнь, есть дос­тояние всего человечества, где бы я её ни творил
    p.quote__cite Всё простое – правда... Афоризмы и размышления П.Л. Капицы.../Сост. П. Е. Рубинин.–М.: изд-во Моск. физ.-тех. ин-та, 1994.
